!!! 5
html
  head
    title Echotron
    style(type="text/css")
      body   { margin: 0; }
      canvas { background: black }
      audio  { position: absolute; bottom: 20px; left: 20px; }
      #stats { position: absolute; bottom: 20px; right: 20px; }

    // Vendor
    each name in vendor
      script(src="js/vendor/#{name}.js")

    // Echotron
    each name in app
      script(src="js/#{name}.js")

    // Echoes
    each echo in echoes
      script(src="echoes/#{echo}.js")

    // Spec
    if specRun
      script(src="js/vendor/mocha.js")
      script(src="js/vendor/chai.js")
      script(src="js/vendor/sinon.js")
      script(src="spec/spec_helper.js")

      link(rel='stylesheet', type="text/css", href="js/vendor/mocha.css")
      style(type="text/css")
        canvas { width: 0; height: 0 }

      each spec in specs
        script(src="spec/#{spec}.js")

  body

